<div class="list-box">
    <ngx-waterfall [gap]="gap" [itemWidth]="itemWidth" class="list-item-wrapper">
        <ng-container *ngIf="data && source =='space';else elseBlock">
            <div class="list-item" *ngFor="let doc of data.items" ngx-waterfall-item>
                <ngx-progressive-image-loader>
                    <div class="picture" [routerLink]="'/app/tabs/draw/detail/'+doc.doc_id">
                        <img [src]="doc.pictures[0].img_src+'@512w_384h_1e.webp'"
                            [imageRatio]="doc.pictures[0].img_width/doc.pictures[0].img_height" ngxProgressiveBGImage />
                        <span class="pictrue-amount">{{doc.pictures.length}}p</span>
                    </div>
                </ngx-progressive-image-loader>
                <div class="list-item-content">
                    <div class="title text-ellipsis" [routerLink]="'/app/tabs/draw/detail/'+doc.doc_id">{{doc.title}}
                    </div>
                    <div class="ops-box">
                        <act-box class="ops-item" (click)="download(doc.pictures[0].img_src)">
                            Save
                        </act-box>
                        <act-box class="ops-item" (click)="vote(doc.doc_id,doc.item.already_voted)">
                            Like
                        </act-box>
                    </div>
                </div>
            </div>
        </ng-container>
        <ng-template #elseBlock>
            <div class="list-item" *ngFor="let doc of data" ngx-waterfall-item>
                <ngx-progressive-image-loader>
                    <div class="picture" [routerLink]="'/app/tabs/draw/detail/'+doc.item.doc_id">
                        <img [src]="doc.item.pictures[0].img_src+'@512w_384h_1e.webp'"
                            [imageRatio]="doc.item.pictures[0].img_width/doc.item.pictures[0].img_height"
                            ngxProgressiveBGImage />
                        <span class="pictrue-amount">{{doc.item.pictures.length}}p</span>
                    </div>
                </ngx-progressive-image-loader>
                <div class="list-item-content">
                    <div class="title text-ellipsis" [routerLink]="'/app/tabs/draw/detail/'+doc.item.doc_id">
                        {{doc.item.title}}</div>
                    <div class="user-box" [routerLink]="'/space/'+doc.user.uid">
                        <div class="user-face">
                            <ion-img [src]="doc.user.head_url|avatar:32"></ion-img>
                        </div>
                        <div class="user-name text-ellipsis">{{doc.user.name}}</div>
                    </div>
                    <div class="ops-box">
                        <act-box class="ops-item" (click)="download(doc.item.title,doc.item.pictures[0].img_src)">
                            Save
                        </act-box>
                        <act-box class="ops-item" (click)="vote(doc.item.doc_id,doc.item.already_voted)">
                            Like
                        </act-box>
                    </div>
                </div>
            </div>
        </ng-template>
    </ngx-waterfall>
</div>