:host {
  display: block;
  width: 100%;
}

.list-box {
  background-color: #d4d0d0;
  margin: 0;
  padding: 10px 10px 0px 10px;
}

.list-item-wrapper {
  padding-bottom: 10px;
  break-inside: avoid;

  .list-item {
    overflow: hidden;
    background-color: #fff;
    border-radius: 5px;
    font-size: 14px;
    transform: translateZ(0); //to resolve can't hidden on absolute position
  }
}

.picture {
  position: relative;
  background-size: cover;
  height: 100%;
  overflow: hidden;

  .pictrue-amount {
    padding: 0 3px;
    position: absolute;
    background-color: black;
    color: #FFFFFF;
    border-radius: 3px;
    opacity: 0.5;
    bottom: 5px;
    right: 5px;
  }
}

.list-item-content {
  padding: 8px;
  font-size: 12px;
  text-align: left;

  .title {
    margin-bottom: 5px;
  }
}

.user-face {
  width: 24px;
  height: 24px;
  
  ion-img {
    border-radius: 50%;
    overflow: hidden;
  }
}

.user-name {
  color: #929191;
  margin-left: 10px;
}

.item-amount {
  position: absolute;
  bottom: 5px;
  right: 5px;
  padding: 3px;
}

.user-box {
  display: flex;
  padding: 3px 0;
  align-items: center;
}

.ops-box {
  display: flex;
  align-items: center;
  justify-content: left;
  color: #FA7298;
  font-weight: 600;

  .ops-item {
    text-align: center;
    padding: 5px 0;
    flex-grow: 1;
  }
}