<div class="list-box">
    <ngx-waterfall [gap]="gap" [itemWidth]="itemWidth" class="list-item-wrapper">
        <ng-container *ngIf="data && source =='space';else elseBlock">
            <div class="list-item" *ngFor="let doc of data.items" ngx-waterfall-item>
                <ngx-progressive-image-loader>
                    <div class="picture" [routerLink]="'./detail/'+doc.item.doc_id">
                        <img [src]="doc.item.pictures[0].img_src+'@512w_384h_1e.webp'"
                            [imageRatio]="doc.item.pictures[0].img_width/doc.item.pictures[0].img_height"
                            ngxProgressiveBGImage />
                        <span class="pictrue-amount">{{doc.item.pictures.length}}p</span>
                    </div>
                </ngx-progressive-image-loader>
                <div class="list-item-content">
                    <div class="title text-ellipsis" [routerLink]="'/app/tabs/draw/detail/'+doc.doc_id">{{doc.title}}
                    </div>
                    <div>
                        <i class="user-face inline"
                            [style.background-image]="'url('+data.user.head_url+'@32w_32h_1e.webp)'"></i>
                        <span class="user-name text-ellipsis inline">{{data.user.name}}</span>
                        <svg class="icon vote-bar inline" [ngClass]="doc.already_liked==0?'':'voted'" aria-hidden="true"
                            (click)="vote(doc.doc_id,doc.already_liked)">
                            <use [attr.xlink:href]="'#icon-appreciate_light'">
                            </use>
                        </svg>
                    </div>
                </div>
            </div>
        </ng-container>
        <ng-template #elseBlock>
            <div class="list-item" *ngFor="let doc of data" ngx-waterfall-item>
                <ngx-progressive-image-loader>
                    <div class="picture" [routerLink]="'./detail/'+doc.item.doc_id">
                        <img [src]="doc.item.pictures[0].img_src+'@512w_384h_1e.webp'"
                            [imageRatio]="doc.item.pictures[0].img_width/doc.item.pictures[0].img_height"
                            ngxProgressiveBGImage />
                        <span class="pictrue-amount">{{doc.item.pictures.length}}p</span>
                    </div>
                </ngx-progressive-image-loader>
                <div class="list-item-content">
                    <div class="title text-ellipsis" [routerLink]="'./detail/'+doc.item.doc_id">{{doc.item.title}}</div>
                    <div>
                        <span [routerLink]="'/space/'+doc.user.uid">
                            <i class="user-face inline"
                                [style.background-image]="'url('+(doc.user.head_url|avatar:32)+')'"></i>
                            <span class="user-name text-ellipsis inline">{{doc.user.name}}</span>
                        </span>
                        <svg class="icon vote-bar inline" [ngClass]="doc.item.already_voted==0?'':'voted'"
                            aria-hidden="true" (click)="vote(doc.item.doc_id,doc.item.already_voted)">
                            <use [attr.xlink:href]="'#icon-appreciate_light'">
                            </use>
                        </svg>
                    </div>
                </div>
            </div>
        </ng-template>
    </ngx-waterfall>
</div>