.list-box
{
  background-color: #d4d0d0;
  column-count:2;
  column-gap: 10px;
  margin: 0;
  padding:10px 10px 0px 10px; 
}

.list-item-wrapper
{
  padding-bottom: 10px;
  break-inside: avoid;
  .list-item
  {
      overflow: hidden;
      background-color: #fff;
      border-radius: 5px;
      font-size: 14px;
      transform: translateZ(0);//to resolve can't hidden on absolute position
  }
} 

.picture
{
  background-size: contain;
  height: 100%;
  .pictrue-amount
  {
    padding: 0 3px;
    position: absolute;
    background-color: black;
    color: #FFFFFF;
    border-radius: 3px;
    opacity:0.4;     
    bottom:5px;
    right:5px;   
  }
}
  
.list-item-content
{
  padding: 8px;
  >div
  {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}

.item-title
{
  margin-bottom: 5px;
}
.item-user
{
  height: 24px;
  line-height: 24px;
  color: #929191;
  i
  {
    display:inline-block;
    vertical-align: top;
    background-size: cover;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin-right: 10px;
  }
}

.item-amount
{
  position:absolute;
  bottom:5px;
  right:5px;
  padding: 3px;
}


