
.detail-container{
  background-color: #d4d0d0;
  .detail-block
  {
    background-color: #fff;
  }
  .detail-content
  {
    >header 
    {
      margin-bottom: 10px;
      i
      {
        background-size: cover;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        margin-right: 10px;
        display: inline-block;
      }
      >div{
        display:inline-block;
        .user-name{
          padding-bottom: 6px;
          font-weight: 400;
        }
        .view-info{
          font-size: 12px;
        }
      }
    }
    padding: 10px;
    font-size: 14px;
    word-break: break-all;
    color: #5a5a5a;
    .img-box
    {
      .img-item{
        display:inline-block;
        vertical-align: top;
        margin: 1%;
        &.w-1{
          width: calc((100% / 1) - 2%);
        }
        &.w-2{
          width: calc((100% / 2) - 2%);
        }
        &.w-3 {
          width: calc((100% / 3) - 2%);
        }
        div[ngxProgressiveBGImage]
        {
          border-radius: 4%;
          height: 100%;
          background-size: cover;
        }
      }
    }
    .desc{
      white-space: pre-wrap;
    }
  }
  .detail-comment
  {
    margin-top: 10px;
    padding: 10px;
    font-size: 14px;
    >header
    {
      line-height: 40px;
    }
    .scroll-y
    {
      overscroll-behavior: none;
      overflow-y: scroll
    }
    .replies-box
    {
      height: 400px;
      .reply-wrap
      {
        padding: 10px 0;
        border-bottom: 1px solid rgb(244,244,244);;

        .user-face
        {
          float: left;
          img
          {
            height: 32px;
            width: 32px;
            border-radius: 50%;
          }
        }
        .con-wrap
        {
          margin-left: 45px;
          .user
          {
            color: #6d757a;
            font-size: 12px;
            font-weight: 700;
          }
          .con
          {
            .info
            {
              line-height: 30px;
              font-size: 10px;
              color: rgb(153, 153, 153);
            }
            p
            {
              margin: 0;
              padding: 0;
            }
            >p
            {
              line-height: 20px;
            }
            .sub-con
            {
              >p
              {
                >a
                {
                  outline: none;
                  color:rgb(80,144,204);
                  text-decoration: none;
                  cursor: pointer;
                }
                padding-bottom: 6px;
              }
              padding: 8px;
              background-color:rgb(244,244,244);
              border-radius:3px;
            }
          }
        }
      }
    }
  }
}