
.container{
  background-color: #d4d0d0;
  .block
  {
    background-color: #fff;
  }
}

.content
{
  padding: 10px;
  word-break: break-all;
  color: #5a5a5a;
}

.author-face
{
  height: 48px;
  width: 48px;
  float: left;
  border-radius: 50%;
  overflow: hidden;
}

.view-box{
  margin-left: 60px;
  min-height: 48px;
  color: #FA7298;
  .author-name
  {
    font-weight: 600;
    padding: 5px 0;
  }
  .info
  {
    font-size: 11px;
    padding: 5px 0;
    color: rgb(153, 153, 153);
  }
}

.img-box
{
  .img-item
  {
    display:inline-block;
    vertical-align: top;
    overflow: hidden;
    &.w-1{
      width: calc(100% / 1);
      border-radius: 1%;
    }
    &.w-2{
      width: calc((100% / 2) - 2%);
      border-radius: 2%;
      margin-left: 2%;
      margin-bottom: 2%;
      &:nth-last-child(2n)
      {
        margin-left: 0%;
      }
    }
    &.w-3 {
      width: calc((100% / 3) - 2%);
      border-radius: 4%;
      margin-left: 1%;
      margin-bottom: 1%;
      &:nth-last-child(3n)
      {
        margin-left: 0%;
      }
    }
    div[ngxProgressiveBGImage]
    {
      height: 100%;
      background-size: cover;
    }
  }
}

.user-face
{
  float: left;
  ion-img
  {
    height: 32px;
    width: 32px;
    border-radius: 50%;
    overflow: hidden;
  }
}


.comment
{
  padding: 10px;
  .comment-item
  {
    padding: 10px 0;
    border-bottom: 1px solid rgb(244,244,244);
  }
}

.comment-item-con
{
  margin-left: 45px;
  .user
  {
    color: #6d757a;
    font-size: 12px;
    font-weight: 700;
  }
  .info
  {
    margin-top: 5px;
    font-size: 10px;
    color: rgb(153, 153, 153);
  }
  .text{
    margin: 10px 0;
    line-height: 1.5;
    white-space: pre-wrap;
  }
}

.sub-comment
{
  padding: 8px;
  background-color:rgb(244,244,244);
  border-radius:3px;
}

.sub-comment-item
{
  padding: 3px 0;
  >a
  {
    outline: none;
    color:rgb(80,144,204);
    text-decoration: none;
    cursor: pointer;
  }
}