.toolbar {
    --min-height: 40px;
}

ion-header {
    background-color: #FA7298;
}

.title {
    text-align: center;
}

.back-btn {
    position: absolute;
    top: 0;
    left: 10px;
    height: 40px;
    display: flex;
    align-items: center;
}