<ion-header>
    <tab #tab class="tab" [activeIndex]="activeIndex" (onChange)="onTabChange($event)" [movingPosition]="movingPosition"
        [isMoving]="isMoving">
        <tab-item class="tab-item ion-activatable" *ngFor="let category of categories;index as i">
            {{tabTitle[i]}}
            <ion-ripple-effect></ion-ripple-effect>
        </tab-item>
    </tab>
</ion-header>
<ion-slides #slides [pager]="false" [options]="slideOpts" style="width:100%;height:100%;"
    (ionSlideWillChange)="ionSlideWillChange($event)" (ionSlideDrag)="ionSlideDrag($event)"
    (ionSlideTouchEnd)="ionSlideTouchEnd($event)">
    <ion-slide *ngFor="let category of categories;index as i">
        <ion-content #ionContent>
            <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
                <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh"
                    refreshingSpinner="circular">
                </ion-refresher-content>
            </ion-refresher>

            <template-draw-list [data]="data[i]"></template-draw-list>

            <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
                <ion-infinite-scroll-content loadingSpinner="circular">
                </ion-infinite-scroll-content>
            </ion-infinite-scroll>
        </ion-content>
    </ion-slide>
</ion-slides>