.scroll-y {
    width: 100%;
}

app-header {
    background-color: #FA7298;
}

.user-box {
    display: flex;
    align-items: center;
    padding: 0px 10px 10px;
    background-color: #FA7298;
    color: white;

    .user-info {
        margin-left: 10px;
        width: 100%;
    }

    .user-face {
        background-size: cover;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        flex-shrink: 0;
    }
}

.user-name {
    padding: 5px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.user-sign {
    font-size: 12px;
}

.btn-follow
{
    color: white;
    background-color: #FA7298;
    border: 1px solid #FFFF;
    padding: 5px 10px;
    float: right;
    position: relative;
    overflow: hidden; 
    border-radius: 5px;
}

